<div class="container">

  <div class="row">
    <div class="input-group">
      <input id="queryTextBox" type="text" list="json-datalist" autocomplete="off" class="form-control" placeholder="E.g. orchard" aria-label="Search for...">
      <datalist id="json-datalist"></datalist>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>
  </div>

  <div id="suggestionListContainer" class="list-group" style="z-index: 1; position: absolute;"></div>

  <script id="suggestionListTemplate"  type ="text/x-handlebars-template">
    \{{#each suggestions}}
    <a href="#" onclick="createInfoPanel(\{{json this}});return;" class="list-group-item list-group-item-action">\{{name}}  ||  \{{description}}</>
      \{{/each}}
  </script>

</div>
<br>
<div class="container">
  <div class="row">

    <div id="map_panel" class="col-md-8 col-sm-8" style = "height: 300px;">
    </div>

    <div id="info_panel" class="col-md-4 col-sm-4">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#detail_info_panel" role="tab" aria-controls="home">Location Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#directions_panel" role="tab" aria-controls="profile">Directions</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="detail_info_panel" role="tabpanel">
          <!-- To be populated by Handlesbars :)-->
        </br><h4>No location selected.</h4>

        </div>
        <div class="tab-pane" id="directions_panel" role="tabpanel">
            <!-- To be populated by GMAPS API-->
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<script id="detailInfoPanelTemplate"  type ="text/x-handlebars-template">

  Name: \{{name}} </br>
  </br>
  Description: \{{description}}</br>
  </br>
  Address: \{{address}}</br>
  </br>
  Crowd Level: RED</br>
  </br>

</script>

<script>
  var socket = io();
  var suggestionList;
  var dataList = document.getElementById('json-datalist');
  var input = document.getElementById('queryTextBox');
  var listGrp = document.getElementById('suggestionList');
  var option;
  //setup before functions
  var typingTimer; //timer identifier
  var doneTypingInterval = 600; //time in ms

  //on keyup, start the countdown
  $('#queryTextBox').keyup(function() {
    clearTimeout(typingTimer);
    if ($('#queryTextBox').val()) {
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
    } else clearChildren("suggestionListContainer");
  });

  //user is "finished typing," do something
  function doneTyping() {
    socket.emit('search', $('#queryTextBox').val());
  }

  socket.on('searchResults', function(results) { //event 2

    createSuggestionList(results);

    /*Alternative codes if not using handlebars:

    for (count = 0; count < results.length; count++) {

      var list = document.createElement('a'); // Create a new <option> element.
      list.setAttribute('href', "#");
      list.setAttribute('class', "list-group-item list-group-item-action");
      var txt = document.createTextNode(results[count].name + " | " + results[count].description);
      list.appendChild(txt);

      //var createAText = document.createTextNode(results[count].name + " | " + results[count].description);
      //list.appendChild(createAText);
      listGrp.appendChild(list);
    }
    */

  });

  createSuggestionList = function(suggestions){

    var rawTemplate = document.getElementById('suggestionListTemplate').innerHTML;
    var compiledTemplate = Handlebars.compile(rawTemplate);
    var generatedHTML = compiledTemplate({
        suggestions: suggestions
    });
    var container = document.getElementById('suggestionListContainer');
    container.innerHTML = generatedHTML;

  }

  createInfoPanel = function(location){

    clearChildren("suggestionListContainer")
    var rawTemplate = document.getElementById('detailInfoPanelTemplate').innerHTML;
    var compiledTemplate = Handlebars.compile(rawTemplate);
    var generatedHTML = compiledTemplate(location);
    var container = document.getElementById('detail_info_panel');
    container.innerHTML = generatedHTML;

  }

  clearChildren = function(parent_id) {
    var parent = document.getElementById(parent_id);
    while (parent.firstChild) {
      parent.removeChild(parent.firstChild);
    }

  };


  Handlebars.registerHelper('json', function(context) {
    return JSON.stringify(context);
});
</script>

<script>
  var directionsService = new google.maps.DirectionsService();
  var directionsDisplay = new google.maps.DirectionsRenderer();

  var map = new google.maps.Map(document.getElementById('map_panel'), {
    zoom: 7,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  directionsDisplay.setMap(map);
  directionsDisplay.setPanel(document.getElementById('directions_panel'));

  var request = {
    origin: 'Toa Payoh',
    destination: 'NTU',
    travelMode: google.maps.DirectionsTravelMode.TRANSIT
  };

  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
</script>
